@media only screen and (max-width: 600px) {
    $lgfont: 17px;
    $lgregualrfont: 16px;

    $mgfont: 14px;
    $mgregularfont: 13px;

    #root{
        .description {
            display: none;
        }
        $thumbnailWidth : 120px;
        
        .card{
            
        }
    }
}